  body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      color: #333;
      margin: 0;
      padding: 0;
      padding-top: 70px;
    }


    header {
      background-color: #f8d7e5;
      padding: 10px 0;
    }
    .navbar-brand {
    font-weight: bold;
    color: #b03060 !important;
    }


    .nav-link {
    color: #333 !important;
    font-weight: 500;
    }


    .nav-link:hover {
    color: #b03060 !important;
    }

    
    .hero {
    height: 90vh;
    background-image: url('../img/fondo-rosado.jpeg');
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    display: flex;
    justify-content: center;
    align-items: center;
    }

    .hero-content {
    margin-top: 200px;
    text-align: center;
    }

   .hero * {
    position: relative;
    }


    .hero h1 {
      color: #b0305fcc;
      font-size: 3rem;
      font-weight: bold;
    }

    .hero p {
    font-size: 1.2rem;
    margin: 15px 0 25px;
    }


    .hero .btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 30px;
    }


    .hero .btn:hover {
    background-color: #8e254ce1;
    }

    #servicios { 
    background-image: url('');
    background-repeat: repeat;
    background-size: 200px 200px;
    padding: 80px 0;
    }

    .section-title {
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    color: #b03060;
    text-align: center;
    }

    
    .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
    transition: transform 0.3s ease;
    }


    .card:hover {
    transform: translateY(-5px);
    }


    .card-title {
    color: #b0305fef;
    font-weight: bold;
    }

    #nosotros p {
    max-width: 700px;
    margin: auto;
    font-size: 1.1rem;
    }

    #contacto p {
    font-weight: 500;
    }
    .contact-link {
    text-decoration: none;
    color: inherit;
    }
    .contact-link:hover i {
    transform: scale(1.15);
    }
    #contacto i {
    transition: transform 0.3s ease;
    }

    #contacto i:hover {
    transform: scale(1.1);
    }

    .contact-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 25px 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    }

    .contact-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    }

    .contact-card h5 {
    font-weight: 600;
    margin-bottom: 10px;
    }

    .cont act-card p {
    font-size: 14px;
    color: #555;
    }

    .contact-link {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
    }

    .text-pink {
    color: #b03060;
    }

    .contact-link:hover {
    color: #8e244c;
    transform: scale(1.05);
    }
    .horario {
    background: linear-gradient(135deg, #f8cdda, #f1f1f1);
    }

    .horario-card {
    background-color: #f8d7e5;
    }


    .abierto {
    display: inline-block;
    margin-top: 10px;
    color: #28a745;
    font-weight: bold;
    }
    
    footer {
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;
      font-size: 0.9rem;
    }

    .heart-img {
  width: 150px;
  height: 150px;
  margin: 0 auto 15px;
  overflow: hidden;
  clip-path: path(
    "M75 135 
     C20 95, 0 60, 30 35 
     C55 15, 75 30, 75 45 
     C75 30, 95 15, 120 35 
     C150 60, 130 95, 75 135 Z"
  );
}

.heart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heart-img {
  width: 150px;
  margin: 0 auto 15px;
}

.heart-svg {
  width: 100%;
  height: auto;
  display: block;
}

.navbar {
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: #b03060;
  white-space: nowrap;
}
.navbar-nav .nav-link {
  font-family: 'Great Vibes', cursive;
  font-size: 22px;
  color: #444;
}



@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin: 8px 0;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    margin: auto;
  }
}
.btn-agendar {
  background-color: #b0305f2d;
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 35px;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(176, 48, 96, 0.3);
  transition: all 0.3s ease;
}

.btn-agendar:hover {
  background-color: #8e254c60;
  color: #ffffff77;
  transform: translateY(-3px);
}
.btn-agendar {
  margin-top: 70px;
}
.btn-vermas {
  background-color: #b03060;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 14px;
  transition: 0.3s ease;
}

.btn-vermas:hover {
  background-color: #8e244c;
  transform: scale(1.05);
}
.icon-location {
  position: relative;
  font-size: 40px;
  color: #b03060; /* rosado marca */
  display: inline-block;
}

.heart-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -60%);
  color: white;
}
.contacto .col-md-3 {
  margin-bottom: 20px;
}
 


